/* #region reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bodyBgColor);
    color: var(--bodyTextColor);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(16px, 1.5vw, 20px);
    font-family:  darkmode-off, Arial, Helvetica, sans-serif;

    /* #region Variables */
    /* main */
    --bodyBgColor: rgb(243, 243, 243);
    --bodyTextColor: #000000;
    --timeTextColor: rgba(0, 0, 0, .7);
    /* should match body text color but decrease opacity */
    --bodyLinkColor: rgb(114, 114, 114);
    --bodyLinkUnderlineColor: rgba(120, 120, 120, 0.4);
    --articleBgColor: rgb(208, 208, 208);

    /* accents */
    --accentBorderColor: rgb(73, 73, 73);


    /* video-specific */
    --popupBorderColor: rgb(214, 0, 0);
    --popupBgColor: rgba(99, 77, 55, .7);
    /* MUST be brightness < 50% */

    --videoBorderColor: white;

    --controlsBgColor: rgba(255, 255, 255, .3);
    --controlsBorder: 1px solid rgba(0, 0, 0, .4);
    --controlsImgSize: 65%;
    /* #endregion */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* #endregion */

/* #region MOBILE main */
main {
    margin: 6vw 5vw 10vw 5vw;
    width: 90vw;
    height: max-content;
}

header {
    line-height: .9;
    margin: 9vw auto auto auto;
}

div#container {
    border-top: solid .75rem var(--accentBorderColor);
    background-color: var(--articleBgColor);
    padding: 6vw;
}

article {
    margin-bottom: 12vw;
}

section.intro {
    margin: auto auto 10vw auto;
    padding: 0;
}

section.video {
    position: relative;
}

video#vid {
    background-color: var(--videoBorderColor);
}

footer {
    margin: 6vw 4vw;
    border: 1px solid rgba(0, 0, 0, 0);
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

footer nav.hidden {
    opacity: 0;
}

/* #endregion */

/* #region MOBILE text & styling */
a {
    color: var(--bodyLinkColor);
    text-decoration-color: var(--bodyLinkUnderlineColor);
}

nav a {
    color: var(--bodyBgColor);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

section.intro h1 {
    font-size: 2rem;
    margin-bottom: 4vw;
}

section.video h2 {
    font-size: 1.5rem;
    margin-bottom: 1vw;
}

div.border {
    border: 5vw solid var(--accentBorderColor);
}

.pop {
    position: absolute;
    pointer-events: none;
    bottom: 20%;
    max-width: 13em;
    right: 10px;
    padding: 15px;
    font-weight: bold;
    z-index: 3;
    opacity: 1;
    transition: all .5s;
}

.styles {
    background: var(--popupBgColor);
    border: 3px solid var(--popupBorderColor);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.pop.hider {
    animation: 5s ease-out 0s 1 forwards onHide;
}

::cue {
    position: absolute;
    left: 0;
    margin-top: -3.5em;
    min-height: 3em;
    line-height: 1.7;
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-shadow: black 1px 1px 3px;
    font-size: clamp(16px, 2vw, 20px);
    padding: 1rem;
    background-color: rgba(86, 86, 86, 0.546);
}

footer h2 {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

footer nav li {
    background-color: var(--bodyLinkColor);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2vw;
}

.carrot {
    content: url(../img/carrot.png);
    display: inline-block;
    margin: auto 2vw .5vw 2vw;
    width: 12px;
    height: 12px;
    transform: rotateX(0);
    transition: transform .5s ease-in-out;
}

.carrot.rotate {
    transform: rotate(-180deg);
    transition: transform .5s ease-in-out;
}

/* #endregion */

/* #region MOBILE video fallback */

section.video section.fallback {
    padding: 1vw;
    display: grid;
}

section.video section.fallback h2 {
    margin: 2vw;
    text-align: center;
}

section.video section.fallback p:first-of-type {
    margin: 2vw 2vw 4vw 2vw;
}

section.video section.fallback p {
    margin: 4vw 2vw;
}

/* text & styling */

section.video section.fallback h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

section.video section.fallback section.chi {
    font-family: source-han-sans-cjk-tc, Arial, sans-serif;
    font-weight: 300;
}

section.video section.fallback p.first:first-letter {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
}

section.video section.fallback section.chi p.first:first-letter{
    font-size: 1.75rem;
    font-weight: 600;
}

section.video section.fallback p.first:first-line {
    text-transform: uppercase;
    line-height: normal;
    font-weight: 600;
}

section.video section.fallback section.chi p.first:first-line {
    font-weight: 400;
}

section.video section.fallback time {
    display: block;
    font-size: .85rem;
    margin: 4vw 2vw 5vw 2vw;
    color: var(--timeTextColor);
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
}

/* #endregion  */

/* #region MOBILE video controls */

section.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 0;
    margin: 0;
}

section.controls h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    width: max-content;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: auto auto auto 3vw;
}

section.controls h2::after {
    content: "\27AF";
    font-size: 2em;
    margin: auto 2vw auto 3vw;
}

form {
    width: 100%;
    margin: auto;
}

fieldset {
    width: 100%;
    border: 0;
    margin: auto;
    padding: 0;
}

select {
    line-height: 2;
    display: flex;
    height: 2.25rem;
    padding: .25rem;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .7);
    width: 100%;
}

option.default {
    font-style: italic;
}

/* #endregion */

/* #region MOBILE animations */
footer .show {
    animation: onShow .25s ease-in 0s 1 forwards;
}

footer .hider {
    animation: onHide .25s ease-in 0s 1 forwards;
}

@keyframes onHide {
    from {
        display: visible;
        opacity: 1;
        height: fit-content;
    }

    99% {
        display: visible;
        opacity: 0;
        height: fit-content;
        margin: 0;
    }

    to {
        display: none;
        opacity: 0;
        margin: 0;
        height: fit-content;
    }
}

@keyframes onShow {
    from {
        display: none;
        opacity: 0;
        margin: 0;
        height: fit-content;
    }

    1% {
        display: visible;
        opacity: 0;
        height: fit-content;
        margin: 0;
    }

    to {
        display: visible;
        opacity: 1;
        height: fit-content;
        margin: 0;
    }
}

/* #endregion */

@media only screen and (min-width: 800px) {
    main {
        max-width: 800px;
        margin: 4rem auto;
    }

    header {
        margin: 6rem auto auto auto;
    }
    
    div#container {
        padding: 4rem;
    }
    
    article {
        margin-bottom: 7rem;
    }
    
    section.intro {
        margin: auto auto 5rem auto;
        padding: 0;
    }

    section.intro h1 {
        margin-bottom: 3rem;
    }
    
    section.video h2 {
        margin-bottom: 1rem;
    }
    
    div.border {
        border: 3rem solid var(--accentBorderColor);
    }

    video#vid {
        padding: 2rem;
    }

    section.controls {
        padding: 3rem 0;
    }
    
    section.controls h2 {
        margin: auto auto auto 2rem;
    }
    
    section.controls h2::after {
        margin: auto 2rem auto 2.5rem;
    }

    section.video section.fallback {
        padding: 1rem;
        display: grid;
    }
    
    section.video section.fallback h2 {
        margin: 2rem;
        text-align: center;
    }
    
    section.video section.fallback p:first-of-type {
        margin: 2rem 2rem 3rem 2rem;
    }
    
    section.video section.fallback p {
        margin: 3rem 2rem;
    }

    section.video section.fallback {
        padding: 1rem;
        display: grid;
        grid-template-areas:
            "a a"
            "b c";
    }
    
    section.fallback section.explanation {
        grid-area: a;
    }
}