/* #region random comments */
/* REALLY NICE COLOR COMBO: 
    -BG
     - lemonchiffon
    - main area color
     - rgba(234, 174, 21, 0.651); not-strikingly-intense gold
    - accent color
     - rgba(178, 34, 34, 0.927); brick red
*/
/* #endregion */

/* #region reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color:blanchedalmond;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: clamp(16px, 1.5vw, 20px);
    font-family:Arial, Helvetica, sans-serif;

    /* variables */
    --controlsBgColor: rgba(255, 255, 255, .3);
    --controlsBorder: 1px solid rgba(0, 0, 0, .4);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* #endregion */

/* #region MOBILE main */
main {
    margin: 2.5vw auto;
    width: 95vw;
    height: max-content;
}

header {
    line-height: .9;
    border-bottom: solid .25rem;
    margin: 1.25rem auto auto auto;
}

.articleBody {
    border-top: solid .35rem rgba(178, 34, 34, 1);
    padding: 3vw 3vw 7vw 3vw;
    background-color:lightblue;
    margin-bottom: 4vw;
}

section#intro {
    margin: auto;
}

video#vid {
    padding: 5vw;
    background-color:rgba(178, 34, 34, 0.927); /* brick red */
}

section.video {
    position: relative;
}

section.captions {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    grid-gap: 2vw;
}

section.captions.show {
    height: 20vh;
    margin: 1vw auto 7vw auto;
}

section.captions section.lang {
    background-color:rgba(0, 0, 0, .2);
    padding: 5vw;
    display: flex;
    align-items: center;
    height:100%;
}

section.captions #selected {
    flex-basis: 60%;
    width: 100%;
}

section.captions #other {
    opacity: .6;
    flex-basis: 40%;
    width: 90%;
}

iframe {
	width: 100%;
	height:25vh;
    overflow: scroll;
}

footer {
    margin: 6vw 4vw;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Trebuchet MS', Verdana, sans-serif;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

/* #endregion */

/* #region MOBILE text & styling */
a {
    color: rgb(134, 85, 0);
    text-decoration-color:rgba(134, 85, 0, .4);
}

nav a {
    font-style: italic;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

.pop {
	position:absolute;
	bottom: 10%;
	right:10px;
	padding:15px;
	font-weight:bold;
	z-index:3;
    opacity: 1;
    transition: all .1s;
}

.styles {
    animation: 1s ease-out 0s 1 backwards fadeIn;
	background:rgba(99, 77, 55, .5);
	border:3px solid red;
	color:#fff;
}

.pop.hide {
    opacity:0;
    pointer-events: none;
    transition: all 5s;
}

::cue {
    position: absolute;
    left: 0;
    margin-top:-3.5em;
    min-height:3em;
    line-height: 1.7;
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-shadow: black 1px 1px 3px;
    font-size: clamp(16px, 2vw, 20px);
    padding: 1rem;
    background-color:rgba(86, 86, 86, 0.546);
}

footer h2 {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: normal;
    font-size: inherit;
    text-align: center;
    transition: all .5s ease-in;
}

footer h2.hide {
    opacity: .5;
}

footer h2.hide::after {
    content: " \2192";
}

/* #endregion */

/* #region MOBILE video controls */

#buttons {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

input:active, #chapterOl li:active {
    opacity: .5;
}

input.active {
    opacity: .8;
}

#rw, #ff, #restart{
    border: var(--controlsBorder);
    width: clamp(30px, 5vw, 50px);
    height: clamp(30px, 5vw, 50px);
}

#chapterOl {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

#chapterOl li {
    margin: 1vw;
    padding: 2vw;
}

#chapterOl li {
    display: flex;
    align-items: center;
}

#switch, #chapterOl li {
    border: var(--controlsBorder);
    height: clamp(30px, 5vw, 50px);
    background: var(--controlsBgColor);
}

#rw {
    background: var(--controlsBgColor) url(../img/rewind-button.png) no-repeat center/cover;
}

#ff {
    background: var(--controlsBgColor) url(../img/fast-forward-button.png) no-repeat center/cover;
}

#restart {
    background: var(--controlsBgColor) url(../img/restart-button.svg) no-repeat center/cover;
}

/* #endregion */

/* #region MOBILE animations */
.hidden {
    animation:.25s .25s 1 ease-in forwards hiding;
}

@keyframes hiding {
    from {
        display: visible;
        opacity: 1;
        height: fit-content;
    }

    99% {
        display: visible;
        opacity: 0;
        height: fit-content;
    }

    to {
        display: none;
        opacity: 0;
        height: 0;
    }
}

/* #endregion */